DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

DB_URL=

JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_MS=30000 # 30s for testing
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000 # 7 days for testing
JWT_REFRESH_TOKEN_SECRET=

GOOGLE_AUTH_CLIENT_ID=<we will get it from google console>
GOOGLE_AUTH_CLIENT_SECRET=<we will get it from google console>
GOOGLE_AUTH_REDIRECT_URI=http://localhost:8080/auth/google/callback
AUTH_UI_REDIRECT=http://localhost:3000/home